@charset "UTF-8";
:root {
  --font-family: "Roboto", sans-serif;
  --color__primary: #a8cf45;
  --color__primary-muted: #d6e9a8;
  --color__secundary: #568203;
  --color__success: #2dc071;
  --color__background: #fff;
  --color__text: #fff;
  --color__text-2: #414042;
  --color__muted: #bdbdbd;
  --font-size__big-icon: 8rem;
  --font-size__big-b: 6rem;
  --font-size__big: 5rem;
  --font-size__title: 3rem;
  --font-size__subtitle-b: 2.5rem;
  --font-size__subtitle: 2rem;
  --font-size__text: 1.8rem;
  --font-size__tiny: 1.4rem;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--color__text);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html ::-webkit-scrollbar {
  width: 6px;
}

html ::-webkit-scrollbar-thumb {
  background: var(--color__primary);
  border-radius: 20px;
}

html ::-webkit-scrollbar-track {
  background: none;
  border-radius: 20px;
}

@-webkit-keyframes moveup {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes moveup {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes movedown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes movedown {
  0% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.header {
  z-index: 8;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100vw;
  position: fixed;
  background-color: var(--color__background);
  font-size: var(--font-size__subtitle);
}

.header__logo {
  display: inline-block;
  width: 130px;
  height: 60px;
  background-image: url(../assets/MOOTI.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__nav-bar {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.header__nav-hamburguer {
  font-size: var(--font-size__big);
  color: var(--color__text-2);
}

.menu-drop {
  z-index: 8;
  position: fixed;
  padding-top: 60px;
  background-color: var(--color__background);
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: var(--font-size__title);
  top: 0;
  left: 100vw;
  z-index: 5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-drop__container {
  height: 60vh;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-drop__container .menu-drop__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  text-align: end;
  height: calc(60vh / 4);
  padding: 0 16px;
  border-top: solid 1px var(--color__primary);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu-drop__container .menu-drop__item:last-child {
  border-bottom: solid 1px var(--color__primary);
}

.menu-drop__container .menu-drop__item:hover {
  background-color: blanchedalmond;
  color: var(--color__secundary);
}

.menu-drop__container a {
  color: var(--color__primary);
  width: 100vw;
  text-decoration: none;
}

.menu-drop__container a:hover {
  color: var(--color__secundary);
}

.showRight {
  left: 0;
}

.whatsapp {
  width: 55px;
  height: 55px;
  display: inline-block;
  position: fixed;
  bottom: 16px;
  left: 16px;
  background-image: url(../assets/whatsapp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 4;
  cursor: pointer;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .cover {
  position: relative;
  padding: 60px 8px 0;
  width: 100vw;
  height: 100vh;
}

.main .cover__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.main .cover__background-1 {
  background-image: url(https://images.pexels.com/photos/5667015/pexels-photo-5667015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.main .cover__background-2 {
  background-image: url(https://images.pexels.com/photos/5216152/pexels-photo-5216152.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.main .cover__background-3 {
  background-image: url(https://images.pexels.com/photos/8576428/pexels-photo-8576428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
}

.main .cover__opacity {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.main .cover__content {
  padding: 16px;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.main .cover__title {
  font-size: var(--font-size__title);
  margin: 60px 40px 16px;
  text-align: center;
}

.main .cover__description {
  font-size: var(--font-size__subtitle);
  margin: 0 40px 16px;
  font-weight: lighter;
  text-align: center;
}

.main .cover__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 115px;
}

.main .cover__buttons .cover__button {
  font-size: var(--font-size__subtitle);
  width: 154px;
  height: 46px;
  background-color: transparent;
  border-radius: 50px;
  border: 1px solid var(--color__primary);
  color: var(--color__primary);
  font-weight: bold;
  cursor: pointer;
}

.main .cover__buttons .cover__button:hover {
  background-color: var(--color__primary);
  color: var(--color__text);
}

.main .cover__buttons .cover__button--main {
  width: 200px;
  color: var(--color__text);
  background-color: var(--color__primary);
}

.main .cover__buttons .cover__button--main:hover {
  background-color: var(--color__secundary);
}

.main .what {
  background-image: url(https://images.pexels.com/photos/5667015/pexels-photo-5667015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
  width: 100vw;
  min-height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  /* .what__hr {
      width: 8%;
      height: 2px;
      background-color: var(--color__primary);
      border: none;
      display: none;
    } */
}

.main .what__title-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 44px;
  padding-top: 44px;
}

.main .what__description {
  padding-top: 8px;
  width: 70%;
  font-size: var(--font-size__subtitle);
}

.main .what__title {
  margin: 0 16px;
  font-size: var(--font-size__title);
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
  color: var(--color__background);
}

.main .what__multimedia {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .what__img {
  position: relative;
  width: 360px;
  height: 360px;
  background-image: url(https://images.pexels.com/photos/5667015/pexels-photo-5667015.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .why {
  background-color: var(--color__background);
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .why .why-card {
  width: 300px;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .why .why-card__icon {
  color: var(--color__primary);
  font-size: var(--font-size__big-icon);
}

.main .why .why-card__content {
  width: 240px;
  height: 80px;
}

.main .why .why-card__title {
  font-size: var(--font-size__subtitle);
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.main .why .why-card__description {
  font-size: var(--font-size__text);
  font-weight: lighter;
  text-align: center;
  width: 240px;
}

.main .reviews {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color__primary-muted);
  padding-top: 60px;
}

.main .reviews__content {
  text-align: center;
  padding: 20px 16px;
}

.main .reviews__title {
  color: var(--color__text-2);
  font-size: var(--font-size__title);
  margin-bottom: 8px;
}

.main .reviews__description {
  color: var(--color__text-2);
  font-size: var(--font-size__text);
  font-weight: lighter;
}

.main .reviews .reviews-card {
  position: relative;
  background-color: var(--color__background);
  height: 310px;
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 24px;
  padding: 16px 32px;
}

.main .reviews .reviews-card__title {
  color: var(--color__text-2);
  font-weight: bold;
  font-size: var(--font-size__subtitle);
  margin-bottom: 4px;
}

.main .reviews .reviews-card__subtitle {
  color: var(--color__muted);
  font-size: var(--font-size__tiny);
  font-weight: 500;
  margin-bottom: 4px;
}

.main .reviews .reviews-card__stars {
  color: #f3cd03;
  font-size: var(--font-size__text);
  display: inline-block;
  margin-bottom: 8px;
}

.main .reviews .reviews-card__description {
  color: var(--color__text-2);
  padding-right: 20px;
  font-weight: lighter;
  font-size: var(--font-size__tiny);
}

.main .reviews .reviews-card__img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  left: -40px;
  display: none;
}

.main .reviews .reviews-card__img-1 {
  background-image: url(../assets/vet.jpeg);
}

.main .reviews .reviews-card__img-2 {
  background-image: url(../assets/wilson.jpeg);
  background-size: 140%;
}

.main .how {
  padding: 60px 16px 16px;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color__background);
}

.main .how__title-container {
  width: 100%;
}

.main .how .how__hr {
  width: 25%;
  height: 2px;
  background-color: var(--color__primary);
  border: none;
  margin-left: 36px;
  display: none;
}

.main .how__title {
  color: var(--color__text-2);
  margin-bottom: 16px;
  font-size: var(--font-size__title);
  text-align: center;
}

.main .how__cards {
  width: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr; */
  place-items: center;
}

.main .how .circle-container {
  position: relative;
  -webkit-perspective: 1000;
          perspective: 1000;
  margin-bottom: 32px;
}

.main .how .circle-container:hover .circle {
  -webkit-transform: rotate3d(45, 45, 0, 180deg);
          transform: rotate3d(45, 45, 0, 180deg);
}

.main .how .circle-container:hover .outer-ring {
  -webkit-transform: rotate3d(45, 0, 0, 180deg);
          transform: rotate3d(45, 0, 0, 180deg);
}

.main .how .circle-container:hover .outer-outer-ring {
  -webkit-transform: rotate3d(0, 45, 0, 180deg);
          transform: rotate3d(0, 45, 0, 180deg);
}

.main .how .circle-container,
.main .how .front,
.main .how .back {
  width: 175px;
  height: 175px;
  background-color: rgba(0, 0, 0, 0);
}

.main .how .circle,
.main .how .outer-ring,
.main .how .outer-outer-ring {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
          transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.main .how .circle {
  position: relative;
  width: 175px;
  height: 175px;
}

.main .how .front,
.main .how .back {
  border-radius: 50%;
  border: solid 1px var(--color__primary);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .how .front p,
.main .how .back p {
  color: var(--color__background);
}

.main .how .front {
  z-index: 2;
  font-size: var(--font-size__tiny);
  padding: 0 16px;
  text-align: center;
  background-color: var(--color__secundary);
}

.main .how .front p {
  width: 126px;
}

.main .how .flip-card-front__icon {
  display: inline-block;
  width: 85px;
  height: 85px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main .how .card__1 {
  background-image: url(../assets/Tasa_de_preñez.svg);
}

.main .how .card__2 {
  background-image: url(../assets/Prediccion.svg);
}

.main .how .card__3 {
  background-image: url(../assets/Ahorro.svg);
}

.main .how .card__4 {
  background-image: url(../assets/Sistema_centralizado.svg);
}

.main .how .card__5 {
  background-image: url(../assets/historial_clinico.svg);
}

.main .how .card__6 {
  background-image: url(../assets/Alertas.svg);
}

.main .how .back {
  -webkit-transform: rotate3d(45, 45, 0, 180deg);
          transform: rotate3d(45, 45, 0, 180deg);
  background-color: var(--color__primary);
  padding: 8px 16px;
  text-align: center;
  font-size: var(--font-size__subtitle);
}

.main .how .back p {
  color: var(--color__text-2);
}

.main .how .back-logo {
  width: 60%;
  display: block;
  margin: 2em auto;
}

.main .how .outer-ring {
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 191px;
  height: 191px;
  background-color: rgba(255, 255, 255, 0);
}

.main .how .outer-outer-ring {
  position: absolute;
  top: -20px;
  left: -20px;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 211px;
  height: 211px;
  background-color: rgba(255, 255, 255, 0);
}

.main .contact {
  padding: 60px 0 16px;
  position: relative;
  background-image: url(https://images.pexels.com/photos/4927796/pexels-photo-4927796.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.main .contact__opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: #000000;
  opacity: 0.2;
  z-index: 2;
}

.main .contact__title {
  font-size: var(--font-size__title);
  z-index: 3;
  margin-bottom: 16px;
}

.main .contact__form {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .contact__form input {
  color: var(--color__background);
  background-color: transparent;
  border: none;
  border-bottom: solid 1px var(--color__background);
  height: 50px;
  width: 240px;
  padding: 4px 8px;
  margin-bottom: 20px;
}

.main .contact__form input::-webkit-input-placeholder {
  color: var(--color__background);
}

.main .contact__form input:-ms-input-placeholder {
  color: var(--color__background);
}

.main .contact__form input::-ms-input-placeholder {
  color: var(--color__background);
}

.main .contact__form input::placeholder {
  color: var(--color__background);
}

.main .contact .contact__button {
  font-size: var(--font-size__subtitle);
  height: 46px;
  border-radius: 50px;
  border: 1px solid var(--color__primary);
  font-weight: bold;
  width: 240px;
  color: var(--color__text);
  background-color: var(--color__primary);
  cursor: pointer;
}

.main .contact .contact__button:hover {
  background-color: var(--color__secundary);
}

.notMob {
  display: none;
}

.header__content {
  margin-left: 80px;
  width: 100%;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content .menu-full {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__content .menu-full a {
  text-decoration: none;
  font-size: var(--font-size__text);
  color: var(--color__primary);
  margin-right: 12px;
}

.header__content .menu-full a:hover {
  color: var(--color__secundary);
}

.header__content .menu-full__button {
  font-size: var(--font-size__subtitle);
  height: 46px;
  border-radius: 50px;
  border: 1px solid var(--color__primary);
  font-weight: bold;
  width: 210px;
  color: var(--color__text);
  background-color: var(--color__primary);
  cursor: pointer;
}

.header__content .menu-full__button:hover {
  background-color: var(--color__secundary);
}

.suport {
  width: 100vw;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*   .respaldo__title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .respaldo__hr {
    width: 8%;
    height: 2px;
    background-color: var(--color__primary);
    border: none;
    display: none;
  } */
  /* .respaldo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    &__title {
      margin: 0 16px;
      text-align: center;
      justify-self: center;
      color: var(--color__text-2);
      font-size: var(--font-size__title);
    }
    &__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;
    }
    &__logo {
      display: inline-block;
      width: 240px;
      height: 120px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__logo-1 {
      background-image: url(../assets/logo3.jpg);
      margin-bottom: 16px;
    }
  } */
}

.suport .potenciado {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.suport .potenciado .potenciado__title-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.suport .potenciado .potenciado__hr {
  width: 8%;
  height: 2px;
  background-color: var(--color__primary);
  border: none;
  display: none;
}

.suport .potenciado__title {
  margin: 0 16px;
  text-align: center;
  color: var(--color__text-2);
  font-size: var(--font-size__title);
}

.suport .potenciado__logo {
  display: inline-block;
  width: 200px;
  height: 120px;
  background-image: url(../assets/Logo-Yawi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 20px auto;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  opacity: 0;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  overflow: hidden;
}

.slider__button {
  position: absolute;
  background-color: transparent;
  display: inline-block;
  width: 50px;
  height: 50px;
  top: 50%;
  border: none;
  background-image: url(../assets/flecha.svg);
  background-position: center;
  background-size: contain;
  padding: 10px 16px;
  margin-top: -25px;
  font-size: 30px;
  z-index: 4;
  font-weight: 900;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.prev {
  left: 8px;
  cursor: pointer;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
          filter: FlipH;
  -ms-filter: "FlipH";
}

.next {
  right: 8px;
  cursor: pointer;
}

.slider__button:hover {
  width: 52px;
  height: 52px;
}

.dots_container {
  position: absolute;
  left: calc(50% - 36px);
  bottom: 0;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dots {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #bdbdbd;
  margin: 4px;
  cursor: pointer;
}

.dots:hover {
  background: #696969 !important;
}

.footer {
  padding-top: 16px;
  width: 100vw;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

.footer hr {
  color: var(--color__primary);
}

.footer__content {
  width: 260px;
  height: 60px;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content p {
  margin: 8px 0;
  color: var(--color__text-2);
  font-size: var(--font-size__tiny);
}

.footer__content .flag__peru {
  width: 35px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../assets/Flag_of_Peru.svg);
}

.animation_bt {
  position: relative;
  -webkit-animation: example 0.8s ease-in forwards;
          animation: example 0.8s ease-in forwards;
}

@-webkit-keyframes example {
  0% {
    bottom: -100vh;
  }
  100% {
    bottom: 0;
  }
}

@keyframes example {
  0% {
    bottom: -100vh;
  }
  100% {
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */