.header__nav-hamburguer {
    display: none;
  }
  
  .notMob {
    display: flex;
  }
.how{
     grid-template-columns: 1fr 1fr ;
}
.button-lap{
    display: none;
}
.header__content {
    .menu-full {
      width: 100%;
  
    }
  }